{% trans_default_domain 'mail' %}

<p>{{'resetting.email.hello'|trans}} {{user.username|capitalize }} !</p>
<p>{{'resetting.email.message'|trans}} : </p>
<a href="{{confirmationUrl}}">{{'resetting.email.reset'|trans}}</a>
